[submodule "WS-Rental-Solutions-database"]
	path = WS-Rental-Solutions-database
	url = https://github.com/Willians-Henrique/WS-Rental-Solutions-database.git
[submodule "WS-Rental-Solutions-backend"]
	path = WS-Rental-Solutions-backend
	url = https://github.com/Willians-Henrique/WS-Rental-Solutions-backend.git
[submodule "WS-Rental-Solutions-frontend"]
	path = WS-Rental-Solutions-frontend
	url = https://github.com/Willians-Henrique/WS-Rental-Solutions-frontend.git

